/*! top.css v1.0 | MIT License */
/**
 * Global box-sizing setting to border-box
 *
 * 'border-box' includes borders, margin and padding when
 * calculating the width and height of elements.
 *
 * IE6 & IE7 get this box-sizing model by
 * operating in quirks mode by a comment
 * above doctype declaration.
 *
 * The universal selector is used to maintain
 * expected behavior across all elements.
 *
 * While it is argued that '*' has a performance impact,
 * it is quite negligible for recent browsers, and so long
 * as it loads on older IE6/IE7 browsers that's fine.
 *
 * See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
           font-family: sans-serif;
}

/**
 * Margin and padding reset.
 * (To be set again by typography)
 */
html, body, p, h1, h2, h3, h4, h5, h6 ul, ol, li {
    margin:0; padding:0;
}

/**
 * Layout
 *
 * Based on a 12 column system.
 *
 * 960px = 80px per column excluding padding
 *
 * Padding will need to be added later
 *
 * In order to achieve IE6 compatibility
 * direct descendant selectors aren't used.
 */
/* IE6/7 Center */
body { text-align: center; }
body .r { text-align: left; }

.r {
	width:100%;
  margin:0 auto;
  font-size:0;
}

.r span {
  width:100%;
  display: inline-block;
  vertical-align: top;
  font-size:14px;
}
 /* IE6, IE7 for Sub columns */
.ie6 .r span .r,
.ie7 .r span .r {
  width:100%;
}
/* IE6, IE7 */
.ie7 span, .ie6 span {
  margin-right:-1px;
}

/**
 * Flexible Columns
 *  600/12 = 50 
 *  960/12 = 80
 * 1440/12 = 120 
 */
.r .c1 { width: 8.33%; }
.r .c2 { width: 16.66%; }
.r .c3 { width: 25.0%; }
.r .c4 { width: 33.33%; }
.r .c5 { width: 41.7%; }
.r .c6 { width: 50%; }
.r .c7 { width: 58.3%; }
.r .c8 { width: 66.7%; }
.r .c9 { width: 75.0%; }
.r .c10 { width: 83.3%; }
.r .c11 { width: 91.7%; }
.r .c12 { width: 100.0%; }

.r .p1 { margin-left: 8.3%; }
.r .p2 { margin-left: 16.7%; }
.r .p3 { margin-left: 25.0%; }
.r .p4 { margin-left: 33.3%; }
.r .p5 { margin-left: 41.7%; }
.r .p6 { margin-left: 50.0%; }
.r .p7 { margin-left: 58.3%; }
.r .p8 { margin-left: 66.7%; }
.r .p9 { margin-left: 75.0%; }
.r .p10 { margin-left: 83.3%; }
.r .p11 { margin-left: 91.7%; }

/**
 * Typography
 *
 * Baseline is 22px.
 * 
 * We're using pixels for a few reasons.
 * 
 * 1. It's the standard measurement of screens, and follows
 * 
 */
p, h2, h3, h4, h5, code, ul, ol, li, input, label, textarea {
  line-height: 22px;
  font-size: 14px;
}

h1 { font-size:28px; line-height: 44px; }
h2 { font-size:22px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:15px; }

p, ul, ol, form {
  margin-bottom:22px;
}

ul ul, ul ol, ol ul, ol ol,
p:last-child, ul:last-child, ol:last-child {
  margin-bottom:0px;
}

ul, ol {
  padding-left: 22px;
}
dt {
  font-weight: bold;
}
dd {
  margin:0;
}

input, textarea {
  border:1px solid #BBB;
  width:100%; padding:6px;
  font-size:14px; line-height: 22px;
}

/* Buttons */
button,
input[type="submit"] {
  color: #FFF;
  border: 1px solid #783700;
  padding: 6px 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%);
  background-color: #55D;
}
