/**
 * Global box-sizing setting to border-box
 *
 * 'border-box' includes borders, margin and padding when
 * calculating the width and height of elements.
 *
 * IE6 & IE7 get this box-sizing model by
 * operating in cquirks mode by a comment
 * above doctype declaration.
 *
 * The universal selector is used to maintain
 * expected behavior across all elements.
 *
 * While it is argued that '*' has a performance impact,
 * it is quite negligible for recent browsers, and so long
 * as it loads on older IE6/IE7 browsers where the impact may be,
 * that's acceptable.
 * 
 * See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
       -moz-box-sizing: border-box; /* <= Firefox 28 */
    -webkit-box-sizing: border-box; /* <= Chrome 9, Safari 5 */
            box-sizing: border-box;
}

/* Margin and Padding Reset
 ? Because we're setting typography below 
 ! Careful, it's a reset */
html, body, p, h1, h2, h3, h4, h5, h6 ul, ol, li {
    margin:0; padding:0;
}

/**
 * Layout
 *
 * Based on a 12 column system.
 *
 * 960px = 80px per column excluding padding
 *
 * Padding will need to be added later
 *
 * In order to achieve IE6 compatibility
 * direct descendant selectors aren't used.
 */
/* IE6/7 Center */
.ie6 body, .ie7 body { text-align: center; }
.ie6 body .r, .ie7 body .r { text-align: left; }

.r {
	width:100%;
  margin:0 auto;
  font-size:0;
}

.r span {
  width:100%;
  display: inline-block;
  vertical-align: top;
}

 /* IE6, IE7
  ? Row width weren't being set for child rows */
.ie6 .r span .r,
.ie7 .r span .r {
  width:100%;
}

/* IE6, IE7 
 ? Why? Inline-block creates a small space
 ! This is a hack */
.ie7 span, .ie6 span {
  margin-right:-1px;
}

/**
 * Flexible Columns
 *  600/12 = 50 
 *  960/12 = 80
 * 1440/12 = 120 
 */
.r .c1 { width: 8.33%; }
.r .c2 { width: 16.66%; }
.r .c3 { width: 25.0%; }
.r .c4 { width: 33.32%; }
.r .c5 { width: 41.7%; }
.r .c6 { width: 50%; }
.r .c7 { width: 58.3%; }
.r .c8 { width: 66.59%; }
.r .c9 { width: 75.0%; }
.r .c10 { width: 83.3%; }
.r .c11 { width: 91.7%; }
.r .c12 { width: 100.0%; }

/**
 * Typography
 */
.r span, p, h2, h3, h4, h5, code, ul, ol, li, input, label, textarea {
  line-height: 22px;
  font-size: 14px;
}